/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body{
margin:0;
padding:0;
background: #fff url(../images/bg.gif) top center repeat;
font-family: Helvetica Neue, Helvetica, Arial;
color: #ffffff;
}

#wrapper{
margin: 0 auto;
width: 940px;
min-height:100%;
position:relative !important;
}

.main_content {
padding-bottom:50px !important;
}

.main_content, .uppersection{
width: 940px;
float: left;
}

.logo{
margin: 0 auto 60px auto;
width: 160px;
text-align: center;
border:solid transparent 1px;
}

.logo h1{
width: 95px;
height: 60px;
margin: 44px auto 5px auto;
margin-bottom: 10px;
border-radius: 50%;
background: #fff;
color: #68b2b1;
text-align: center;
padding-top: 35px;
font-size: 32px;
}

span{
font-size: 26px;
text-align: center;
margin-left: -240px;
}

button.download {
cursor: pointer;
margin: -30px 0 25px 300px;
line-height: 28px;
padding: 0 12px;
font-size: 11px;
font-weight: bold;
color: #7e4f27;
text-shadow: 0 1px #f2e294;
border-color: #efb443 #d9a238 #a57825;
border-width: 1px 1px 0;
border-style: solid;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-border-radius: 3px 3px 2px 2px;
-moz-border-radius: 3px 3px 2px 2px;
-ms-border-radius: 3px 3px 2px 2px;
-o-border-radius: 3px 3px 2px 2px;
border-radius: 3px 3px 2px 2px;
outline: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
-webkit-box-shadow: inset 0 1px #ffeca6,inset 0 0 0 1px #e5c96d,0 1px #a57825,0 3px #c08a28,0 4px #a57825,0 5px 2px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0 1px #ffeca6,inset 0 0 0 1px #e5c96d,0 1px #a57825,0 3px #c08a28,0 4px #a57825,0 5px 2px rgba(0,0,0,0.4);
box-shadow: inset 0 1px #ffeca6,inset 0 0 0 1px #e5c96d,0 1px #a57825,0 3px #c08a28,0 4px #a57825,0 5px 2px rgba(0,0,0,0.4);
background-color: #f6ba49;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdd67), color-stop(70%, #f6ba49), color-stop(100%, #f4b03e));
background-image: -webkit-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
background-image: -moz-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
background-image: -ms-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
background-image: -o-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
background-image: linear-gradient(top, #ffdd67 0%,#f6ba49 70%,#f4b03e 100%);
width: 320px;
margin-right: 50px;
position: relative;
height: 60px !important;
top: 8px;
}

.download strong{
text-transform: uppercase;
font-size: 20px;
}


h2 span{
font-style: italic;
font-size: 30px;
}

p{
font-size: 19px;
text-align: center;
padding: 20px 150px 0;
line-height: 26px;
font-weight: 300;
}

ul.social{
margin-top: 90px;
float: left;
padding-left: 120px;
}

ul.social li{
float: left;
margin-right: 40px;
font-size: 11px;
font-weight: bold;
text-transform: uppercase;
}

ul.social li a{
color: #333;
text-decoration: none;
padding-right: 30px;
padding-bottom: 9px;
padding-top: 4px;
}

ul.social li a:hover{
text-decoration: underline;
padding-top: 3px;
}

ul.social li a.fb{
background: url(../images/social.png) right -30px no-repeat;
}



ul.social li a.tw{
background: url(../images/social.png) right -90px no-repeat;
}

ul.social li a.google{
background: url(../images/social.png) right -150px no-repeat;
}

ul.social li a.insta{
background: url(../images/social.png) right -60px no-repeat;
}

ul.social li a.skype{
background: url(../images/social.png) right -90px no-repeat;
}

ul.social li a.vimeo{
background: url(../images/social.png) right -120px no-repeat;
}

footer {
background: white;
clear: both;
position: relative;
z-index: 10;
height: 3em;
margin-top: -3em;
bottom:100px;
width: 100%;
height:147px;
text-align: center;
overflow: hidden;
}

footer p {
color: #646464;
margin: 95px 0 0;
font-size: 16px;
}

footer a {
color: #646464;
}

.forkme {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: absolute;
top: 0;
right: 0;
border: 0;
}
